#gfve-entry-details .gfve-entry-field { margin-bottom: 10px; }
#gfve-entry-details .gfve-field-label { display: block; font-weight: bold; }
#gfve-entry-details .gfve-field-val + .gfve-field-val:before { content: ', '; }